@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #b16c7f;
	height: 100vh;
	background-size: cover;
	color: #fff;
	font-family: 'Arial';
}

h1 {
	font-family: 'Raleway';
	font-size: 48px;
	
}

h2 {
	font-family: 'Raleway';
}

.header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

div.container {
	max-width: 960px;
	padding: 10px 0;
	margin: 0 auto;
	
}